aiohttp==3.6.0
async-timeout==3.0.1
asyncio==3.4.3
asyncpg==0.28.0
attrs==21.4.0
certifi==2024.2.2
chardet==3.0.0
charset-normalizer==3.3.2
discord.py==1.7.3
ffmpeg-python==0.2.0
future==1.0.0
idna==3.3
imageio-ffmpeg==0.4.9
multidict==4.0.0
numpy==1.26.4
pillow==10.2.0
psycopg==3.0.14
psycopg2-binary==2.9.3
pycodestyle==2.7.0
pycord==0.1.1
python-dotenv==0.18.0
requests==2.31.0
requires.io==0.2.6
toml==0.10.2
typing_extensions==4.1.1
tzdata==2024.1
urllib3==2.2.1
yarl==1.7.2